* {
    margin: 0;
    padding: 0;
}


header {
    background: linear-gradient(to right,rgba(255, 255, 255, 0.73),transparent);
    /*height: 100px;*/

}
#entrada {
    width: 100%;
    font-size: 80px;
    float: none;
    color: black;
    text-align: center;
    text-shadow: 1px 1px 1px black;
    padding-bottom: 10px;
}

body {
    background-image: url("fundo.png");
    background-size: 100%;
    overflow:auto;
}
#valor {
    clear: both;
    width: 25%;
    margin-left: 37.5%;
    min-width: 150px;
    text-align: center;
    color: White;
    background-color: rgba(217, 217, 217, 0.63);
    font-size: 25px;
    text-shadow: 1px 1px 1px black;
    padding: 10px;
    border-radius: 10px;
}

#resultado {
    display: inline-block;
    clear: both;
    color: rgb(255, 255, 255);
    margin-left: 36%;
    width: 25%;
    padding: 10px;
    text-align: center;
    font-size: 25px;
    text-shadow: 1px 1px 1px black;
}

#botao {
    color: rgb(76, 255, 0);
    margin-left: 40%;
    width: 20%;
    min-width:150px;
    top: 0%;
    padding: 10px;
    font-size: 25px;
    text-shadow: 1px 1px 1px black;
    background-color: rgba(246, 156, 92, 0.74);
    border-radius: 10px;
    clear: both;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: White;
}

#qnt {
    clear: both;
    width: 30%;
    height: 5%;
    margin-left: 35%;
    min-width: 150px;
    text-align: center;
    color: White;
    background-color: rgba(217, 217, 217, 0.63);
    font-size: 25px;
    text-shadow: 1px 1px 1px black;
    padding: 10px;
    border-radius: 10px;
    clear: both;
}


#botao:hover {
    background-color: rgb(255, 255, 255);
    color: black;
    border-radius: 10px;
    -webkit-transition: 0.3s;
}

#tvalor {
    display: inline-block;
    clear: both;
    color: rgb(255, 255, 255);
    width: 30%;
    padding-left: 35%;
    text-align: center;
    font-size: 25px;
    text-shadow: 1px 1px 1px black;
}

#tqnt {
    display: inline-block;
    clear: both;
    color: rgb(255, 255, 255);
    width: 40%;
    padding-left: 30%;
    text-align: center;
    font-size: 25px;
    text-shadow: 1px 1px 1px black;
}

#dir {
    width: 50%;
    height: 50%;
    margin-top: 5%;
    float: right;
}
#esq {
    margin-top: 5%;
    width: 50%;
    height: 50%;
    float: left;
}
#cen {
    clear: both;
    margin-right: 25%;
    margin-left: 25%;
    margin-top:20%;
    width: 50%;
}

#rodape {
    clear: both;
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 45px;
}
#texto {
    color:rgb(255, 255, 255);
}

#insImg {
    width: 35px;
    height: 35px;
}
@media screen and (max-width: 480px) {

    body {
        background-image: url("fundo.png");
        background-size: cover;
        overflow: auto;
    }
    #entrada {
        width: 100%;
        font-size: 30px;
        float: none;
        color: black;
        text-align: center;
        text-shadow: 1px 1px 1px black;
        padding-bottom: 10px;
    }
    #dir {
        clear: both;
        width: 100%;
        height: 25%;
        margin-top: 5%;
        float: left;
    }
    #esq {
        clear: both;
        margin-top: 5%;
        width: 100%;
        height: 25%;
        float: left;
    }
    #cen {
        clear: both;
        margin-top: 5%;
        margin:0%;
        width: 100%;
        height: 25%;
        float: left;
    }
    #rodape {
        clear: both;
        float:left;
        margin-bottom: 0;
        width: 100%;
        font-size: 35px;
        text-align: center;
    }
    #insImg {
        width :25px;
        height :25px;
    }
    #valor {
        clear: both;
        width: 90%;
        margin: 5%;
        min-width: 150px;
        text-align: center;
        color: White;
        background-color: rgba(217, 217, 217, 0.63);
        font-size: 25px;
        text-shadow: 1px 1px 1px black;
        border-radius: 10px;
    }

    #resultado {
        display: inline-block;
        clear: both;
        color: rgb(255, 255, 255);
        width: 100%;
        margin-left: 0%;
        text-align: center;
        font-size: 25px;
        text-shadow: 1px 1px 1px black;
    }

    #botao {
        color: rgb(76, 255, 0);
        width: 96%;
        margin: 5%;
        min-width: 150px;
        font-size: 25px;
        text-shadow: 1px 1px 1px black;
        background-color: rgba(246, 156, 92, 0.74);
        border-radius: 10px;
        clear: both;
    }

    ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: White;
    }

    #qnt {
        clear: both;
        width: 90%;
        height: 5%;
        margin: 5%;
        min-width: 150px;
        text-align: center;
        color: White;
        background-color: rgba(217, 217, 217, 0.63);
        font-size: 25px;
        text-shadow: 1px 1px 1px black;
        padding: 10px;
        border-radius: 10px;
        clear: both;
    }


    #botao:hover {
        background-color: rgb(255, 255, 255);
        color: black;
        border-radius: 10px;
        -webkit-transition: 0.3s;
    }

    #tvalor {
        display: inline-block;
        clear: both;
        color: rgb(255, 255, 255);
        width: 100%;
        padding-left: 0%;
        text-align: center;
        font-size: 25px;
        text-shadow: 1px 1px 1px black;
    }

    #tqnt {
        display: inline-block;
        clear: both;
        color: rgb(255, 255, 255);
        width: 40%;
        padding-left: 30%;
        text-align: center;
        font-size: 25px;
        text-shadow: 1px 1px 1px black;

    }
}
